
.el-header{ background: #fff !important; color:#4d627b !important; }
.search[data-v-8b941730]{color:#4d627b !important;}
.hamburger[data-v-4105b24e],.userinfo-inner[data-v-8b941730]{color:#4d627b !important;}
.maintheme{background: #fff !important;}
.el-main[data-v-4fdd58e2]{background: #fff !important;}
.no-redirect[data-v-4fdd58e2]{
    color: #4d627b !important;;
   }
   a[data-v-362a7709] {
    color: #4d627b !important;;
}
span[data-v-362a7709] {
    color: #4d627b !important;;
}
.logtheme{background: #fff !important;}
h3{color: #4d627b !important;}
.el-submenu.is-active .el-submenu__title {
    border-bottom-color: #409EFF; 
    background: #25476a; 
		 color: #fff;
		border-radius: 5%;
    margin-left: 5px;
    margin-right: 5px;
		margin-top:5px;
}
.el-collapse{border-top:none !important;}
.el-collapse-item__header{border-bottom:none !important;}
.el-submenu.is-active .el-submenu__title i{
    color:#cac4c4 !important; 
}
.el-submenu .el-submenu__title i{
    color:#cac4c4 !important; 
}
/* 设置鼠标选中文字颜色 */
::selection { background:#25476a; color: #fff; } 
::-moz-selection { background:#25476a;color: #fff; }
::-webkit-selection { background:#25476a; color: #fff; }