.el-header{ background: #fff !important; color:#4d627b !important; }
.hamburger[data-v-4105b24e],.userinfo-inner[data-v-8b941730]{color:#4d627b !important;}
.maintheme{background: #ecf0f5 !important;}
.no-redirect[data-v-4fdd58e2]{
    color: #4d627b !important;;
   }
   a[data-v-362a7709] {
    color: #4d627b !important;;
}
span[data-v-362a7709] {
    color: #4d627b !important;;
}
.logtheme{background: #294d73 !important;}
h3{color: #fff;}
.el-submenu.is-active .el-submenu__title {
    border-bottom-color: #294d73 !important;
    background: #294d73 !important; 
    color: #fff;
    border-radius: 5% !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top:5px !important;
}
.el-submenu.is-active .el-submenu__title i{
    color:#fff !important; 
}
/* 设置鼠标选中文字颜色 */
::selection { background:#294d73; color: #fff; } 
::-moz-selection { background:#294d73;color: #fff; }
::-webkit-selection { background:#294d73; color: #fff; }